section{
    height:80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
}
.container{
    max-width: 700px;
    width:100%;
    margin:auto;
    height:60vh;
    display: flex;
    padding:10px;
    align-items: center;
}