body {
  background-color: #fafafa;
}
header h2 {
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 0px;
  color: var(--darkgray);
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 0px;
  padding-top: 10px;
}
.about-section {
  height: 70vh;
  display: flex;
  align-items: center;
  margin-top: 0px;
  justify-content: center;
}
.about-container {
  max-width: 700px;
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  padding: 10px;
  align-items: center;
}

.profile1 {
  width: 50%;
  height: 100%;
  padding-right: 2rem;
  display: flex;
  align-items: center;
}
.profile1 img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-right: 2rem;
  object-fit: cover;
}
.about {
  width: 100%;
  height: 100%;
  padding-left: 1rem;
}
.about .about-cards {
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
}
.about .about-cards .card-item {
  background-color: white;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  padding: 0.5px;
  margin-bottom: 1rem;
}
.about .about-cards .card-item:hover {
  transform: translateY(-10px);
  transition: all 0.1s ease-in-out;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}
.about .about-cards .card-item:hover .icon {
  scale: 1.5;
  transform: rotate(360deg);
  padding: 0.5rem;
  color: var(--darkgray);
  transition: all 0.5s ease-in-out;
}
.about .about-cards .card-item span,
.icon {
  color: var(--darkgray);
  font-size: 15px;
  margin-top: 5px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.about .about-cards .card-item p {
  color: var(--lightgray);
  font-size: 12px;
  line-height: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}
.about .desc {
  margin-top: 1rem;
  color: var(--gray);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.about span {
  color: var(--darkgray);
  font-weight: 500;
  font-size: 14px;
}
.about button {
  height: 60px;
  width: 170px;
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--darkgray);
  color: var(--white);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
}
.about button:hover {
  background-color: var(--white);
  color: var(--darkgray);
  border: 1px solid var(--darkgray);
  transition: all 0.5s ease-in-out;
}
/*animate icon*/
.about button:hover .social-item {
  transform: rotate(360deg);
  color: var(--darkgray);
  transition: all 0.5s ease-in-out;
}
.socials{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px;
  margin-top: -70px;
}
.social{
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: space-around;
  margin: 0.5rem;
  padding: 10px;
  cursor: pointer;
  color: var(--darkgray);
  background-color: white;
}
/*for smaller screen*/
@media screen and (max-width: 768px) {
  .about-section {
    height: 100%;
    margin-bottom: 0px;
    padding: 2rem;
  }
  .about-container {
    height: 100%;
    flex-direction: column;
    padding: 10px;
  }
  .profile1 {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    padding-right: 0px;
    margin-bottom: 1rem;
  }
  .profile1 img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-right: 0px;
    object-fit: cover;
  }
  .about {
    width: 100%;
    height: 50%;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about .about-cards {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
  }
  .about .about-cards .card-item {
    width: 70%;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  }
  .socials{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
  }
  .social{
    width: 30px;
    height: 30px;
    display: flex;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: space-around;
    margin: 1rem;
    padding: 10px;
  }
}
