.head h2 {
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 0px;
  color: var(--darkgray);
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 0px;
}
.sub-head {
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 0px;
  color: var(--lightgray);
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 4rem;
}
.contact-container {
  max-width: 700px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 3rem;
}
.contact-section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-item {
  display: flex;
  width: 100%;
  margin-top: 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-icon {
  width: 30px;
  height: 30px;
  padding: 1rem;
  margin-bottom: 1rem;
  color: var(--darkgray);
}
.contact-button {
  position: relative;
  height: 50px;
  min-width: 90px;
  background-color: var(--darkgray);
  color: var(--white);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
}
.contact-button:hover {
  background-color: var(--white);
  color: var(--darkgray);
  border: 1px solid var(--darkgray);
}

.contact-icon:hover {
  transform: rotate(360deg);
  color: var(--darkgray);
  transition: all 0.5s ease-in-out;
}
p {
  color: var(--darkgray);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 15px;
}
.contact-form{
  height: 100%;
  width:70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-form-div{
  height: 100%;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

}
.contact-form-input, .contact-form-area{
  width: 100%;
  height: 20px;
  border: 1px solid var(--lightgray);
  border-radius: 10px;
  padding: 1rem;
  background-color: var(--white);
  color: var(--darkgray);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.contact-form-area{
  resize: vertical;
  min-height: 150px;
  scroll-margin: 0p 10px;
  cursor: pointer;
}
.contact-form-tag{
  padding: 0.25rem;
  z-index: 10;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: var(--darkgray);
}
button{
  height: 60px;
  width: 150px;
  margin-top: 1rem;
  padding: 1rem;
  background-color: var(--darkgray);
  color: var(--white);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  border: none;
  border-radius: 20px;

}
button:hover {
  background-color: var(--white);
  color: var(--darkgray);
  border: 1px solid var(--darkgray);
  transition: all 0.5s ease-in-out;
}
/*animate icon*/
button:hover .social-item {
  transform: rotate(360deg);
  color: var(--darkgray);
  transition: all 0.5s ease-in-out;
}
@media screen and (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact-item {
    width: 100%;
    margin-top: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
