.home-section {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;  
}
.home-container {
  max-width: 700px;
  width: 100%;
  margin: auto;
  height: 60vh;
  display: flex;
  padding: 10px;
  margin-top: 3rem;
  align-items: center;
}
.social {
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.social .social-item {
  margin-bottom: 2rem;
  font-size: 1rem;
  color: var(--darkgray);
  cursor: pointer;
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 100%;
  width: 55%;
  padding-right: 3rem;
}
.intro h1 {
  font-size: 2.2rem;
  margin-top: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  color: var(--darkgray);
  margin-bottom: 0.5rem;
}
.intro .typed {
  display: flex;
  color: var(--lightgray);
  line-height: -0.5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.intro .desc {
  color: var(--gray);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
hr {
  width: 50px;
  margin-right: 5px;
}
.intro button {
  height: 60px;
  width:150px;
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--darkgray);
  color: var(--white);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30%;
}
.profile img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 50px;
  /*border-radius: 30% 70% 70% 30% / 53% 31% 69% 47%;*/
}
/*for smaller screen place container in center and ind=side that place image first then intro and then social*/
@media screen and (max-width: 768px) {
  .home-section {
    padding: 2rem;
  }
  .home-container {
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 0px;
  }
  .social {
    width: 100%;
    height: 10%;
    padding: 2rem;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .intro {
    width: 100%;
    height: 50%;
    padding: 0px;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .intro h1 {
    font-size: 2.5rem;

  }
  .intro .typed {
    font-size: 18px;
  }
  .intro .desc {
    font-size: 15px;
  }
  .intro p span hr {
    width: 30px;
  }
  .intro button {
    display: none;
  }
  .profile {
    display: none;
  }
  .profile img {
    display: none;
  }
}