body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: #fafafa;
}
html{
  scroll-behavior:smooth;
}
:root {
  --gray: #757575;
  --white: #ffffff;
  --darkgray: #424242;
  --lightgray: #757575;
}

/*NAVBAR*/
.navbar {
  z-index: 1000;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fafafa;
  justify-content: space-around;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.brand {
  font-size: 1.5rem;
  margin: 0px;
  padding: 0px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.navbar ul {
  display: flex;
  justify-content: space-around;
}
.navbar ul li {
  list-style-type: none;
  margin-right: 2rem;
  cursor: pointer;
}
.navbar ul .list-item {
  text-decoration: none;
  color: var(--darkgray);
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
}
.navbar ul .list-item:hover {
  color: black;
  transition: 0.5s;
}
/*NAVBAR END*/

@media screen and (max-width: 768px) {
  .navbar {
    z-index: 1000;
    background-color: #fafafa;
  }
  nav {
    flex-direction: column;
    align-items: center;
  }
  nav ul {
    flex-direction: column;
    width: 100%;
    display: none;
  }
  nav ul li {
    margin-right: 0px;
    margin-bottom: 10px;
    display: none;
  }
  .brand {
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--darkgray);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--white);
  border: 1px solid var(--darkgray);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--lightgray);
}
