header{
    margin-bottom: 0px;
}
.sub-title{
    margin-bottom: 0px;
}
.q-section .container{
    margin-top: -20px;
    font-family:  "Poppins", sans-serif;
}
.q-section .left{
    width:50%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: top;
    height: 100%;
    border-right: 1px solid var(--lightgray);
}
.q-section .right{
    width:50%;
    height: 100%;
}
.q-section .left .post{
    margin-right:20px;
}
.q-section .post p{
    font-size: 1rem;
    align-items: right;
}